name: Conventional Commit PR Title
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}