name: Test create environment

on:
  workflow_dispatch:
    inputs:
      server:
        type: string
        description: The url of the Octopus Instance. Will default to repository variable TEST_INSTANCE_URL if not supplied.
      api_key:
        type: string
        description: The API key to login with. Be careful this may be logged in plain text. Will default to repository secret TEST_INSTANCE_API_KEY if not supplied.
      environment_name:
        description: 'The name of the ephemeral environment to create.'
        required: true
      project:
        description: 'The id of the project to connect the environment to.'
        required: true
      space:
        description: 'The name of a space containing the project.'
        required: true

jobs:
  login:
    permissions:
      contents: read # This is required for actions/checkout
    runs-on: ubuntu-latest
    name: Test Ephemeral Environment Creation
    steps:
      - uses: actions/checkout@v3

      - name: Install Octopus CLI
        uses: OctopusDeploy/install-octopus-cli-action@v3

      - name: Create Ephemeral Environment
        uses: ./
        with:
          server: ${{ inputs.server || vars.TEST_INSTANCE_URL }}
          api_key: ${{ inputs.api_key || secrets.TEST_INSTANCE_API_KEY }}
          environment_name: ${{ inputs.environment_name }}
          project: ${{ inputs.project }}
          space: ${{ inputs.space }}